<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>Tileserver</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      .flex-container {
      display: flex;
      flex-wrap: wrap;
      }
      .flex-child {
      flex: 1;
      }
      .wrapper {
      margin: auto;
      max-width: 80%;
      }
      body {
        margin: 1rem;
        padding: 1rem;
        font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        font-size: 16px;
        line-height: 1.5;
        color: #fefefe;
        background-color: #1e293b;
      }
    </style>
  </head>
  <body>
    <h1>Tiles</h1>
    <div style="margin-bottom: 2rem;" class="flex-container wrapper">
      <% @tiles.each do |item| %>
        <div class="flex-child">
          <p><%= item %></p>
          <a href="/t/<%= item %>.svg?s=400"><img src="/t/c/<%= item %>.svg" width=100 height=100></a>
        </div>
      <% end %>
    </div>
    <br/>
    <h1>Badges</h1>
    <div style="margin-bottom: 2rem;" class="flex-container wrapper">
      <% @badges.each do |item| %>
        <div class="flex-child">
          <p><%= item %></p>
          <a href="/b/<%= item %>.svg?s=400"><img src="/b/c/<%= item %>.svg" width=100 height=100></a>
        </div>
      <% end %>
    </div>
  </body>
</html>
